### Go Patch ###
/vendor/
/Godeps/

# IntelliJ
out/
.idea
.idea/*
bin/


# Misc
.DS_Store
*.env
.env.*
dist


### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace



Dockerfile/centos/linux.tar.gz
tags/
Bifrost
Dockerfile/centos/
data/
